.title {
  position: fixed;
  position: -webkit-fixed;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 5;
  top: 0;
  margin: 1rem;
  font-size: 1rem;
  color: #fff;
}

p > .dot {
  color: var(--main-colour);
}

.container {
  height: 25%;
  position: fixed;
  z-index: 5;
  width: 100%;
  background: linear-gradient(180deg, #161616, rgba(22, 22, 22, 0));
}

.space {
  height: 5rem;
  display: block;
}

ul {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

nav ul {
  position: fixed;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 5;
  position: -webkit-fixed;
  top: 0;
  right: 0;
  margin: 0.8rem;
}

ul,
li {
  margin-bottom: 0.3rem;
}

ul,
.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-shadow: 1px 1px 2px var(--main-colour);
}

.link:hover::before {
  content: ". ";
  display: inline-block;
  position: absolute;
  margin-left: -0.5rem;
  color: var(--main-colour);
}
