footer {
  margin-top: 5rem;
}

.infos {
  background-color: aliceblue;
  text-align: center;
  margin-top: -.5rem;
}

.copyright {
  background-color: aliceblue;
  padding: 1rem;
  text-align: center;
}

.listIcons {
  display: flex;
  justify-content: center;
  margin: auto;
  list-style-type: none;
}

.listIcons li {
  margin: 1rem;
}

i {
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.listMail {
  background: lightblue;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
}

.listGithub {
  background: tomato;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
}

/*tooltip*/

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  width: 100px;
  font-style: normal;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltipmail {
  font-size: 1rem;
  visibility: hidden;
  font-style: normal;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 40%;
  margin-left: -90px;
}

.tooltip .tooltiptext::after,
.tooltipmail::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltipmail {
  visibility: visible;
}
